
.clicker{
  height: 40px;
  width: 80px;
  border: 1px solid black;
}

.up{
  background-color: green;
  color: white;
}

.down{
  background-color: red;
  color: white;
}

.count{
  font-size: 50px;
  margin: 20px;
}